header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: black;
    padding: 25px;

    a {
        color: white;

        &:hover {
            text-decoration: none;
            border: 1px solid white;
        }
    }



    .logo-container {
        height: 100%;
        width: 70px;
        display: inline-block;
        display: flex;
        align-items: center;
        ;


        .logo {
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 10px;
        }
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        margin-right: 50px;



        .option {
            padding: 10px 15px;

            .cart {
                cursor: pointer;
            }
        }
    }
}