<header>
    <a
        class="logo-container"
        routerLink="/"
    >
        <img
            class="logo"
            src="/assets/logo-placeholder-image.png"
            alt=""
        />
    </a>
    <div class="options">
        <a
            class="option"
            routerLink=""
        >Shop</a>

        <a
            *ngIf="user?.displayName; else signin"
            class="option"
            (click)="signOut()"
        >Welcome {{user?.displayName}}</a>
        <ng-template
            #signin
            class="option"
        >
            <a routerLink="login">Sign In</a>
        </ng-template>

        <a
            class="option"
            routerLink="register"
        >Sign Up</a>
        <a
            class="cart"
            routerLink="cart"
        >
            <app-cart-icon></app-cart-icon>
        </a>
    </div>

</header>
<router-outlet></router-outlet>