<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver.class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://training-postgres.ckbqjaef5nqv.us-east-2.rds.amazonaws.com:5432/qianggao_p2?schemaName=public</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">R3vatur3!</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>

        <mapping class="com.webdev.model.Customer" />
        <mapping class="com.webdev.model.Address" />
        <mapping class="com.webdev.model.Product" />
        <mapping class="com.webdev.model.OrderItem" />
        <mapping class="com.webdev.model.CartItem" />
        <mapping class="com.webdev.model.Order" />

    </session-factory>
</hibernate-configuration>