<body>
    <header>
        <nav>
            <div class="container">
                <div class="flex">
                    <div class="logo"><a href="#">My Website</a></div>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="hero">
            <h1>Welcom To My Website</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo,
                consectetur!
            </p>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Content One</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur est
                ipsam dicta minima architecto voluptates. Totam saepe facere, ipsam
                earum ullam voluptate modi corporis sunt. Quo earum sunt ad dolore.
                Itaque, accusantium! Iusto recusandae suscipit natus optio sed odio
                consectetur ipsum eos eaque nemo. Pariatur, atque. Debitis quibusdam
                ullam beatae cum quas assumenda eos nisi earum consequuntur.
                Accusantium maiores quibusdam, labore porro beatae amet illum
                reprehenderit ullam libero mollitia asperiores nemo minima officiis
                facilis voluptatum ipsa laboriosam? Culpa quos voluptates, deserunt
                ut, atque fuga minus iusto reprehenderit expedita incidunt,
                praesentium cupiditate facere suscipit qui corrupti tempora soluta aut
                laboriosam neque.
            </p>
            <h2>Content Tow</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ducimus
                at quo sunt distinctio eaque in, impedit animi et esse modi numquam
                adipisci dolores cum omnis fuga quibusdam necessitatibus vero illum,
                cumque blanditiis deserunt provident similique officia! Doloremque
                blanditiis, ex odit totam possimus pariatur cupiditate et sint
                temporibus incidunt eos delectus ipsam consectetur tempora asperiores
                neque at deserunt amet fuga beatae. Corporis nam voluptatem, minus
                iusto quia delectus id aut, hic consequatur dolor, adipisci quasi
                obcaecati laudantium quis impedit consequuntur!
            </p>
        </div>
    </main>
</body>