<div class='checkout-page'>
    <div class='checkout-header'>
        <div class='header-block'>
            <span>Product</span>
        </div>
        <div class='header-block'>
            <span>Description</span>
        </div>
        <div class='header-block'>
            <span>Quantity</span>
        </div>
        <div class='header-block'>
            <span>Price</span>
        </div>
        <div class='header-block'>
            <span>Remove</span>
        </div>
    </div>

    <app-cart-item
        *ngFor="let cartItem of cartItems"
        [cartItem]="cartItem"
    ></app-cart-item>


    <div class='total'>
        <span>Total: ${{totalPrice.toFixed(2)}}</span>
    </div>

    <app-checkout-btn></app-checkout-btn>