<div class="user-profile">
    <mat-card class="mat-elevation-z12">
        <mat-card-content>
            <form action="">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="User Name"
                        required
                        name="username"
                        [value]="username||''"
                        (input)="username=getValue($event)"
                    >
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Email"
                        type="email"
                        required
                        name="email"
                        [value]="email||''"
                        (input)="email=getValue($event)"
                    >
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Password"
                        type="password"
                        minlength="6"
                        required
                        name="password"
                        [value]="password||''"
                        (input)="password=getValue($event)"
                    >

                    <mat-icon matSuffix>lock</mat-icon>

                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Re-Enter Password"
                        type="password"
                        minlength="6"
                        required
                        name="repassword"
                        [value]="repassword||''"
                        (input)="repassword=getValue($event)"
                    >

                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Phone Number"
                        type="text"
                        minlength="10"
                        required
                        name="phone"
                        [value]="phone"
                        (input)="phone=getValue($event)"
                    >
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <button
                    [disabled]=""
                    mat-raised-button
                    color="primary"
                    class="register-button "
                    style="text-transform: uppercase;letter-spacing: 2px;"
                    (click)="updateProfile(username!,email!,password!, phone!)"
                >
                    Update Your proile
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>