.login{
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  /* display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; */
  /* background-color: #F1F1F1; */
}

mat-card {
  width: 35%;
  min-width: 300px;
  margin: 10% auto;
  background-color: #FAFAFA;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Manrope', sans-serif;
  padding: 3rem;
}

mat-card-titil {
  font-size: 2rem;
}

mat-form-field,
mat-checkbox {
  width: 100%;
  display: block;
  margin: auto;
  margin-block: 1rem;
  opacity: 0.75;
}

mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  margin: 20px auto;
  background-color: #D87D4A;
  color: #F1F1F1;
}

.login-button:disabled {
  background-color: #fbaf85;
  color: #F1F1F1;
}


mat-icon {
  opacity: 0.5;
}