.checkout {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    // height: 100%;
    // display: block;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // overflow: hidden;
    // background-color: #F1F1F1;

    mat-card {
        width: 35%;
        min-width: 300px;
        margin: 10% auto;
        background-color: #FAFAFA;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        font-family: 'Manrope', sans-serif;
        padding: 3rem;

        form {
            display: flex;
            flex-direction: column;
            column-gap: 1rem;

            mat-card-title {
                font-size: 1.5rem;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            mat-card-subtitle {
                font-size: 1rem;
                color: #D87D4A;
                margin-top: 1rem;
                margin-bottom: 0;
            }

            .group {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                margin-top: -1rem;
                gap: 1rem;
                margin-bottom: 2rem;


                mat-form-field {
                    // color: #D87D4A;
                    width: 45%;
                    margin-left: 0;
                    margin-top: 1rem;
                    margin-bottom: 0;
                    height: 20px;
                    font-size: 1rem;
                }

                mat-form-field.address-input {
                    width: 94.5%;
                }
            }

            .place-order-button {
                margin-top: 20px;
                display: block;
                width: 100%;
                margin: 20px auto;
                background-color: #D87D4A;
                color: #F1F1F1;
            }

            .place-order-button:disabled {
                background-color: #fbaf85;
                color: #F1F1F1;
            }
        }
    }

}