/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 20px 60px;

    a {
        text-decoration: none;
        color: black;
    }
}