/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    max-width: 100vw;
    // overflow: hidden;
}

body {
    margin: 0;
    // font-family: "Open Sans Condensed", sans-serif;
    font-family: 'Manrope', sans-serif;

    a {
        text-decoration: none;
        color: black;
    }
}