.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1.5;

    .item-count {
        position: absolute;
        font-size: 15px;
        font-weight: 600;
        bottom: 27px;
        left: 18px;
        color: #D87D4A;
    }
}