.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px 40px;

    .product {
        width: 20%;
        display: flex;
        flex-direction: column;
        height: 350px;
        align-items: center;
        position: relative;
    }
}