.custom-button {
    min-width: 160px;
    width: auto;
    height: 48px;
    letter-spacing: 1px;
    line-height: 48px;
    // padding: 0 35px 0 35px;
    font-size: 13px;
    color: white;
    background-color: #D87D4A;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        transition: all 0.4s ease-in-out;
    }
}